@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}