@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
}

h3 {
  font-size: 1em;
  margin: 0px;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

button:hover {
  cursor: pointer;
}

form.filter, .title-text-box label, .url label {
  margin-top: auto;
}

input.title {
  width: 100%;
}

.group-row {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
}

.bookmark-wrapper {
  border: 1px solid blue;
}

.bookmark-header {
  background-color: skyblue;
  flex-direction: column;
  align-items: center;
}

.row-outline {
  border: 1px solid black;
}

.description {
  height: 100px;
}

.stars {
  justify-content: space-between;
}

.star-button,
.delete-button,
.edit-button {
  border: 0px;
  padding: 0px;
  height: fit-content;
}

.star-button,
.delete-button,
.edit-button {
  max-width: 24px;
  max-height: 24px;
}

.create-button,
#new-bookmarks .bookmark-expanded button {
  align-self: flex-end;
  height: fit-content;
  max-width: fit-content;
  height: 24px;
}

.submit-cancel {
  justify-content: flex-end;
}

.star,
.edit,
.delete {
  width: 24px;
  height: 24px;
}

.star-edit-delete {
  float: right;
  height: fit-content;
}

.filter {
  text-align: right;
}

.select-title {
  word-break: break-word;
}

.title-text-box {
  width: 100%;
  height: 24px;
}

.stars,
.bookmarks-actions .create-button, 
.active-header:hover .edit-button,
.move-left {
  margin-left: auto;
}

.url input, .description textarea {
  width: 100%;
}

.bookmarks-actions form:first-child,
.filter {
  max-width: fit-content;
}

.preview {
  overflow-x: hidden;
  text-align: center;
}

.hidden {
  display: none;
}

select:focus #label-option {
  display: none;
}

#bookmarks .active-header .stars{
  display: flex;
}

#bookmarks .active-header .edit-button,
#bookmarks .active-header .delete-button {
  display: none;
}

#bookmarks .active-header:hover .stars{
  display: none;
}

#bookmarks .active-header:hover .edit-button,
#bookmarks .active-header:hover .delete-button {
  display: block;
}

#filter {
  height: 24px;
}

@media all and (min-width: 400px) {
  .bookmark-header {
    flex-direction: row;
    align-items: flex-start;
  }

  .description {
    height: 50px;
  }
}

@media all and (min-width: 800px) {
  .preview {
    display: none;
  }
}